[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:baileywickham/oh-my-zsh.git
[submodule "sshconfig"]
	path = sshconfig
	url = git@github.com:baileywickham/sshconfig.git
	branch = master
