[user]
	email = baileywickham@gmail.com
	name = baileywickham
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHOWcMHjoKR3leGpTX/9q9suTboagTTDq1MAPCO+iK8S
[core]
	excludesfile = ~/.gitignore_global

[url "git+ssh://baileywickham@git.launchpad.net/"]
    insteadof = lp
#[credential]
    #helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

# why the hell not?

[help]
        autocorrect = prompt
[commit]
        gpgsign = true
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

# a matter of taste (uncomment if you dare)

[core]
        # fsmonitor = true
        # untrackedCache = true
[merge]
        # (just 'diff3' if git version < 2.3)
        # conflictstyle = zdiff3
[pull]
        # rebase = true
